<!DOCTYPE html>
{%extends 'home.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card">
                <div class="card-body">
                  <h4 class="card-title">E-Mail</h4>

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>E-mails</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                      <tr class="table-info">
                         <td>{{d.Email}}</td>
                      </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
</div>

{% endblock %}
</body>
</html>