<!DOCTYPE html>
{%extends 'home.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Subject
                          </th>
                          <th>
                            Message
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                         {% for d in data %}
                         <tr class="table-success">
                            <td>{{d.Name}}</td>
                            <td>{{d.Email}}</td>
                            <td>{{d.Subject}}</td>
                            <td>{{d.Message}}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
</body>
</html>
{% endblock %}